@import "variables";
@import "navMenu";
@import "content";

body {
    display: flex;
    flex-flow: row nowrap;
    background-color: #16202a;
    color: white;
    font-family: "chau philomene One", sans-serif;
    box-sizing: border-box;
}


